.about-container {
	display: flex;
	align-items: flex-start; /* всё сверху */
	gap: 40px;

	padding: 40px 40px 40px 80px; /* контролируем отступ слева */
}

.about-text {
	flex: 1;
	max-width: 50%;

	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	letter-spacing: 5px;
	font-size: 14px;
	text-transform: uppercase;
}

.about-image {
	flex: 1; /* занимает вторую половину */
	max-width: 50%;
	height: auto;
	object-fit: cover;
	border-radius: 8px;
	width: 100%;
	max-width: 400px;
	height: auto;
	object-fit: cover;
}
@media (max-width: 768px) {
	.about-container {
		flex-direction: column;
	}

	.about-text {
	}
	.about-image {
		width: 100%;
	}
}
.about-hero {
	width: 100%;
	height: 310px;
	background-color: #f4a9ff; /* зелёный */
	display: flex;
	align-items: flex-end; /* ⬇ вниз */
	padding-left: 80px;
	padding-bottom: 12px;
}

.about-hero h1 {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100; /* ультратонко */
	letter-spacing: 10px;
	font-size: 26px;
	text-transform: uppercase;
}
