.artwork-container {
	display: flex;
	gap: 30px;
	padding: 40px;
}

.artwork-text {
	flex: 1;
	max-width: 50%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	letter-spacing: 2px;
	font-size: 16px;
}

.artwork-image {
	flex: 1;
	max-width: 50%;
	height: auto;
	object-fit: cover;
	border-radius: 8px;
}

@media (max-width: 768px) {
	.artwork-container {
		flex-direction: column;
	}

	.artwork-image,
	.artwork-text {
		max-width: 100%;
	}
}
