.footer {
	background-color: #fff; /* белый фон */
	width: 100%;
	padding: 160px 10px 30px; /* пространство сверху и снизу */
}

.footer-content {
	max-width: 1200px;
	margin: 0 auto;
	text-align: left;
}

.footer-line {
	width: 100%;
	height: 0.5px; /* тонкая полоса */
	background-color: rgb(200, 200, 200);
	margin-bottom: 30px; /* расстояние от полосы до текста */
}

.footer-text {
	font-family: 'Montserrat', sans-serif; /* или 'Roboto', sans-serif */
	font-weight: 300; /* супер тонкий */
	font-size: 10px; /* размер как на скриншоте */
	letter-spacing: 0.1em; /* большое расстояние между буквами */
	text-transform: uppercase; /* все буквы заглавные */
	color: rgba(18, 18, 18, 0.4); /* полупрозрачный */
}

.footer-text p {
	margin: 5px 0;
}
