.main {
	width: 100%;
	height: 100vh; /* весь экран */
	background-size: cover; /* на весь блок */
	background-position: center;
	background-repeat: no-repeat;
	transition: background-image 1s ease-in-out;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
